dist/*
build/*

/matches
/deploy/lib
/deploy/bin
*.rms
*.bc17
/build/
/bin/
*.conf
.DS_Store
*.log
*.swp
*.pyc
.gradle
/client/
*.jar
*.iml
*.ipr
*.iws
/.idea/


#/uploads/

# User-specific stuff:
battlecode-scaffold.iws

# Eclipse user-specific files
.classpath
.project
.settings/

# ADDED
# We need to include the gradle-wrapper.jar, even though we
# ignore other .jars. See
# https://discordapp.com/channels/654065706568122398/664156740559831099/664162262537338922
# for details
!gradle/wrapper/gradle-wrapper.jar